<launch>

    <arg name="rviz_file" 
         default="$(find plycal_ros)/configs/velodyne_B.rviz" />

	<node pkg="plycal_ros" 
          name="bag_sync" 
          type="bag_sync.py" 
          output="screen" /> 

    <!-- <node pkg="plycal_ros" 
          name="camera_info_publisher" 
          type="camera_info_publisher.py" 
          output="screen" /> -->

	<node pkg="rviz" 
          name="rviz" 
          type="rviz" 
          args="-d $(arg rviz_file)" 
          required="true" />
</launch>